body, html, #root, .App {
  height: 100%;
}

.App {
  text-align: center;
  background-color: #010101;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main {
  position: relative;
}

.main .countdown {
  position: absolute;
  width: 200px;
  height: 50px;
  background-color: red;
  border-radius: 10px;
  
  margin-left: calc(50% - 100px);
  padding: 10px;

  display: flex;
}

.main .countdown > div {
  width: 25%;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main .countdown > div .value {
  font-size: 2em;
}

.main .countdown > div .label {
  font-size: 0.75em;
}

.main .countdown .dotdot {
  width: 2px;
}

.main .sweet-loading {
  position: absolute;
  top: -10px;
  left: calc(50% - 135px);
}

.main .sweet-loading > div > div {
  border-width: 10px;
  border-color: #49B960;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 20px;
  color: #616161;
  font-size: 0.75em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.corona-virus-logo {
  width: 250px;
  -webkit-animation-name: spin;
  -webkit-animation-duration: 10000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 10000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 10000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  
  animation-name: spin;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-ms-keyframes spin {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}